@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KopubWorldBatang";
  src: url("/fonts/KoPubWorld-Batang-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handwrite";
  src: url("/fonts/kangwonSaeum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BMDohyeon";
  src: url("/fonts/BMDOHYEON.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SCDream";
  src: url("/fonts/SCDream4.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MsMadi";
  src: url("/fonts/MsMadi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "system-ui", "Avenir", "Helvetica", "Arial", sans-serif;
  --font-dotum: "Pretendard", "Dotum", "Apple SD Gothic Neo", sans-serif;
  --font-batang: "KopubWorldBatang", "Batang", "AppleMyungjo", serif;
  --font-handwrite: "Handwrite", "Batang", "AppleMyungjo", serif;
  --font-bmdohyeon: "BMDohyeon", "Dotum", "Apple SD Gothic Neo", sans-serif;
  --font-scdream: "SCDream", "Dotum", "Apple SD Gothic Neo", sans-serif;
  --font-msmadi: "MsMadi", "Dotum", "Apple SD Gothic Neo", sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-100 antialiased overflow-hidden m-0 p-0;
  }
}
